<mat-tab-group animationDuration="0ms" class="w-100">
    <mat-tab [label]="defaultLabel" class="w-50">
        <div fxLayout="row nowrap" fxLayoutAlign="center center" style="height: 201px">
            <img [src]="defaultSprite" alt="front_default">
        </div>
    </mat-tab>
    <mat-tab [label]="shinyLabel" class="w-50">
        <div fxLayout="row nowrap" fxLayoutAlign="center center" style="height: 201px">
            <img [src]="shinySprite" alt="front_shiny">
        </div>
    </mat-tab>
</mat-tab-group>
