<div class="w-100 container" fxFlex="">
    <form fxLayout="row wrap">
        <mat-form-field class="w-50">
            <input matInput
                   [formControl]="searchFormControl"
                   [matTooltip]="searchTooltip"
                   matTooltipShowDelay="250"
                   matTooltipPosition="above"
                   placeholder="Ex. Pikachu">
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="onDeleteClick()">
            <mat-icon>delete</mat-icon>
        </button>
    </form>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2" *ngIf="isListEmpty">
        <mat-icon color="warn">warning</mat-icon>
        <span class="ml-h">{{ 'LIST.SEARCH.EMPTY' | translate }}</span>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="1rem grid" fxLayoutAlign="start" class="mt-2">
        <ng-container *ngFor="let option of filteredOptions">
            <app-list-card fxFlex.lt-md="100%"
                           fxFlex.md="33%"
                           fxFlex.gt-md="25%"
                           [name]="option.name">
            </app-list-card>
        </ng-container>
    </div>
</div>
