<div class="mb-1">
    <mat-card class="card-container" fxLayout="row" fxLayoutGap="auto">
        <div fxLayout="row" fxLayoutAlign="start center">
            <ng-container *ngIf="pokemon$ | async; let pokemon">
                <img [src]="getImgUrl(pokemon)" class="mr-h" width="24" alt="type">
            </ng-container>
            <a class="no-text-decoration" [routerLink]="['/pokemon', name]">
                <h4 class="pokemon-title mb-0">{{name}}</h4>
            </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button color="primary" [routerLink]="['/pokemon', name]">
                <mat-icon>info_outline</mat-icon>
            </button>
        </div>
    </mat-card>
</div>
